/* Resets e Padrões Globais */
body {
    background-color: #f0f0f0; 
    font-family: Arial, sans-serif; 
    /* Assumindo 16px = 1rem para a conversão */
}


main {
    width: 100%;
    overflow-x: hidden; 
    padding-bottom: 1.25rem;
    flex: 1;
}

.projetos {
    padding: 1.25rem;
}

.projetos h1 {
    text-align: center;
    font-size: 2em;
    margin-bottom: 1.25rem;
}

.projeto-card {
    display: flex;
    align-items: stretch;
    margin-bottom: 1.25rem;
    width: 100%;
}

.projeto-texto {
    padding: 1.25rem;
    border-radius: 0.5rem;
    flex: 1; 
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.projeto-imagem {
    flex-basis: 40%; 
    min-width: 7.5rem; 
    position: relative; 
}

.projeto-imagem img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
    border-radius: 0.5rem;
    display: block;
}

.projeto-texto.azul {
    background-color: #0056b3;
    color: white;
    margin-left: -0.9375rem; 
    z-index: 1; 
}

.projeto-texto.amarelo {
    background-color: #ffc107;
    color: #000;
    margin-right: -0.9375rem; 
    z-index: 1;
}

.projeto-card h2 {
    font-size: 1.8em;
    margin-bottom: 0.9375rem;
}

.projeto-card p {
    font-size: 1em;
    line-height: 1.5;
    margin-bottom: 0.625rem;
    text-align: justify;
}

.calendario{
    padding-top: 0.9375rem;
    background-image: url("../../public/images/eventos/fundoCalendario.png");
    width: 22.5rem;
    margin-left: auto;
    margin-right: auto;
}

.calendario iframe{
    width: 22.5rem; 
    height: 25rem;
    border: none;
    border-width: 0;
    overflow: hidden;
}