<header>
  <div class="cabecalho-superior">
    <button id="botao-menu" class="botao-menu-mobile">
      ☰
    </button>
    <div class="logo-container">
      <img src="images/logos/logo_ccp.png" alt="logo-cursinho" class="logo-ccp">
      <p>CURSINHO COMUNITÁRIO PIMENTAS</p>
    </div>
  </div>

  <nav id="nav-menu" class="cabecalho-inferior">
    <ul>
      <li><a href="index.html">Início</a></li>
      <li><a href="historia.html">História</a></li>
      <li><a href="apoie-o-projeto.html">Apoie o Projeto</a></li>
      <li><a href="projetos-eventos.html">Projetos e Eventos</a></li>
      <li><a href="processo-seletivo.html">Processo Seletivo</a></li>
    </ul>
  </nav>
</header>