<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>História</title>
    <link rel="stylesheet" href="/public/styles/cabecalho_footer.css">
    <link rel="stylesheet" href="/public/styles/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <script src="/public/scripts/includeComponents.js" defer></script>
</head>
<body>
    <header></header>
    
    <main>
        <div class="Azul">
            <h1>Nossa História</h1>
            <p>Surgimos em 2002 com a proposta de inserir os jovens do 
                Bairro dos Pimentas nas Universidades de todo o Brasil.
            </p>
            
            <div class="slide1">
                <input type="radio" name="radio-btn" id="radio1" checked>
                <input type="radio" name="radio-btn" id="radio2">
                <input type="radio" name="radio-btn" id="radio3">
                <input type="radio" name="radio-btn" id="radio4">
                <input type="radio" name="radio-btn" id="radio5">
                <input type="radio" name="radio-btn" id="radio6">

                <div class="sliders">
                    <div class="slide first">
                        <img src="../../public/images/historico/foto2025.jpg" alt="Pedágio CCP"/>
                    </div>
                    <div class="slide">
                        <img src="../../public/images/historico/foto-salinha.jpg" alt="Alunos na Salinha"/>
                    </div>
                    <div class="slide">
                        <img src="../../public/images/historico/foto-lousa.jpg" alt="Lousa com Árvore Desenhada"/>
                    </div>
                    <div class="slide">
                        <img src="../../public/images/historico/foto2025bia-romulo.jpeg" alt="Pedágio rua CCP"/>
                    </div>
                    <div class="slide">
                        <img src="../../public/images/historico/foto-oficina-2025.jpg" alt="Oficina"/>
                    </div>
                    <div class="slide">
                        <img src="../../public/images/historico/foto-sala-2025.webp" alt="Sala de Aula CCP"/>
                    </div>
                </div>
            
                <div class="manual-navigation">
                    <label for="radio1" class="manual-btn"></label>
                    <label for="radio2" class="manual-btn"></label>
                    <label for="radio3" class="manual-btn"></label>
                    <label for="radio4" class="manual-btn"></label>
                    <label for="radio5" class="manual-btn"></label>
                    <label for="radio6" class="manual-btn"></label>
                </div>
            </div>
            <p>
                O cursinho nasceu da necessidade de oferecer uma alternativa viável para jovens pobres que não podem pagar por um cursinho particular.
                Seu objetivo central é resolver um problema social coletivo, e não apenas individual. 
                A ideia é empoderar alunos da periferia para que eles ingressem nas universidades públicas, que são o lugar do aluno pobre, mas historicamente inacessíveis a eles.
            </p>
        </div>
        
        <div class="green">
            <h1 class="h1red">ESTRUTURA</h1>
            <div class="espaço">
                <img class="casa" src="../../public/images/logos/store.svg"/ alt="Espaço">
                <p><b>Espaço:</b> Cedido pelo CDHU/Prefeitura, 
                    fator crucial para existência do projeto.
                </p>
            </div>
            <div class="financiamento">
                <img class="professor" src="../../public/images/logos/professor.svg" alt="Financiamento">
                <p><b>Financiamento:</b> Não possui financiamento público ou privado. 
                    É sustentado por uma rede de solidariedade.
                </p>
            </div>
            <div class="voluntarios">
                <img class="maos" src="../../public/images/logos/social.svg" alt="Voluntários">
                <p><b>Voluntários:</b> Composto por ex-alunos do próprio cursinho que retornam para ensinar, 
                    criando um ciclo virtuoso.
                </p>
            </div>
        </div>
        
        <div class="red">
            <h1 class="h1red">METODOLOGIA</h1>
            <div class="cidadã">
                <img class="peoples" src="../../public/images/logos/people.svg"/ alt="Figura de Grupo de Pessoas">
                <p><b>Formação Cidadã:</b> As aulas vão além do conteúdo do vestibular. Há aulas de atualidades, documentários e 
                    debates que discutem política, sociedade, raízes históricas, racismo, LGBTfobia e 
                    questões de gênero.
                </p>
            </div>
            <div class="autonomia">
                <img class="motivação" src="../../public/images/logos/motivacao.svg" alt="Figura de Punho Serrado">
                <p><b>Autonomia:</b> O objetivo final não é criar dependência do professor, 
                    mas desenvolver autonomia no aluno para que ele se torne o "gestor do 
                    próprio conhecimento".
                </p>
            </div>
            <div class="acolhimento">
                <img class="apoiar" src="../../public/images/logos/apoiar.svg" alt="Figura de Apoio a Grupo de Pessoas">
                <p><b>Acolhimento e Pertencimento:</b> O cursinho é um espaço seguro que respeita todas as crenças, orientações 
                    sexuais e etnias.
                </p>
            </div>
        </div>

    </main>

    <footer></footer>
</body>
<!--Footer-->
<footer>
    <div class="footer-logos">
        <div class="footer-coluna">
            <img src="/src/img/Babi.png" alt="Logo-Babi" id="Babi">
            <p id="nome">Associação Bárbara Cristina Sá</p>
        </div>
        <img src="/src/img/logo_ccp.png" alt="Logo-Cursinho" id="ccp">
    </div>
    <div id="footer-links">
        <nav id="nav-footer" class="cabecalho-footer">
        <ul>
            <li><a href="/src/views/index.html">Inicio</a></li>
            <li><a href="/src/views/historia.html">História</a></li>
            <li><a href="/src/views/apoie-o-projeto.html">Apoie o Projeto</a></li>
        </ul>
    </nav>
    </div>
    <div id="footer-links">
        <nav id="nav-footer">
        <ul>
            <li><a href="/src/views/projetos-eventos.html">Projetos e Eventos</a></li>
            <li><a href="/src/views/processo-seletivo.html">Processo Seletivo</a></li>
        </ul>
        </nav>
    </div>
    <div class="footer-desktop-content">
    <div class="footer-social">
        <a href="https://www.instagram.com/cursinhocomunitariopimentas/" target="_blank">
            <img src="/src/img/instagram.svg" alt="Instagram">
        </a>
        <a href="https://www.youtube.com/@cursinhopimentas" target="_blank">
            <img src="/src/img/video_12940276.svg" alt="YouTube">
        </a>
        <a href="https://www.facebook.com/cursinhocomunitariopimentascp" target="_blank">
            <img src="/src/img/facebook.svg" alt="Facebook">
        </a>
    </div>
    <div class="footer-info">
        <p id="endereco">Rua do Poente Nº 148 Conjunto Marcos Freire - Guarulhos - SP</p>
        <p id="cnpj">CNPJ: 08.033.435/001-44</p>
    </div>
</footer>
</html>