<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>História</title>

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap"
      rel="stylesheet"
    />

    <link rel="stylesheet" href="/public/styles/global.css" />
    <link rel="stylesheet" href="/public/styles/cabecalho_footer.css" />
    <link rel="stylesheet" href="/public/styles/historia.css" />

    <script src="/public/scripts/includeComponents.js" defer></script>
  </head>

  <body>
    <header></header>

    <main>

      <!-- SEÇÃO AZUL -->
      <section class="Azul">
        <h1>Nossa História</h1>
        <p>
          Surgimos em 2002 com a proposta de inserir os jovens do Bairro dos
          Pimentas nas Universidades de todo o Brasil.
        </p>

        <div class="slide1">
          <input type="radio" name="radio-btn" id="radio1" checked />
          <input type="radio" name="radio-btn" id="radio2" />
          <input type="radio" name="radio-btn" id="radio3" />
          <input type="radio" name="radio-btn" id="radio4" />
          <input type="radio" name="radio-btn" id="radio5" />
          <input type="radio" name="radio-btn" id="radio6" />

          <div class="sliders">
            <div class="slide first">
              <img src="../../public/images/historico/foto2025.jpg" alt="Foto de um grupo grande com cerca de 50 pessoas, a maioria jovens adultos, posando ao ar livre. Eles estão sorrindo em frente a uma faixa branca grande onde se lê 'Cursinho Comunitário Pimentas' e '22 ANOS TRANSFORMANDO SONHOS EM REALIDADE!'." />
            </div>

            <div class="slide">
              <img src="../../public/images/historico/foto-salinha.jpg" alt="Vista do fundo de uma sala de aula cheia. Alunos de várias idades estão sentados em carteiras escolares, olhando para uma mulher em pé na frente, ao lado de um quadro-verde, que parece estar ensinando. As paredes da sala são vermelhas e brancas, decoradas com muitos quadros, pôsteres e um grande retrato de uma mulher.a" />
            </div>

            <div class="slide">
              <img src="../../public/images/historico/foto-lousa.jpg" alt="Close-up de um quadro-verde com um mapa mental. No centro, cartões brancos listam projetos como 'Coleta de água da chuva', 'Reciclagem' e 'Biblioteca'. Ao redor, estão colados os 17 ícones coloridos dos Objetivos de Desenvolvimento Sustentável (ODS) da ONU, com setas de giz ligando-os aos projetos centrais. Acima do quadro, um mural preto e branco mostra retratos de figuras históricas como Mao Tse-Tung e Che Guevara" />
            </div>

            <div class="slide">
              <img src="../../public/images/historico/foto2025bia-romulo.jpeg" alt="Selfie de um grupo de cinco pessoas sorrindo para a câmera. Elas estão ao ar livre, num local ensolarado que parece ser um evento de rua. Uma mulher no centro segura uma camiseta preta com o texto 'Cursinho Comunitário Pimentas' escrito de forma espelhada." />
            </div>

            <div class="slide">
              <img src="../../public/images/historico/foto-oficina-2025.jpg" alt="Um grupo de cerca de 15 pessoas, incluindo adultos e crianças, posa para uma foto em um jardim. Eles estão reunidos ao redor de uma mesa de piquenique de concreto, e muitos sorriem enquanto seguram livros infantis. Ao fundo, há um prédio vermelho e muitas plantas." />
            </div>

            <div class="slide">
              <img src="../../public/images/historico/foto-sala-2025.webp" alt="Vista do fundo de uma sala de aula lotada. Os alunos, muitos com cabelos cacheados e crespos, olham para frente. Duas pessoas, um homem e uma mulher, estão em pé na frente da sala. No quadro-verde, está escrito 'Aula de Cidadania' e 'Paula Mariano - Vice-presidente'. Acima do quadro, um longo mural preto e branco exibe retratos de diversas figuras históricas." />
            </div>
          </div>

          <div class="manual-navigation">
            <label for="radio1" class="manual-btn"></label>
            <label for="radio2" class="manual-btn"></label>
            <label for="radio3" class="manual-btn"></label>
            <label for="radio4" class="manual-btn"></label>
            <label for="radio5" class="manual-btn"></label>
            <label for="radio6" class="manual-btn"></label>
          </div>
        </div>

        <p>
          O cursinho nasceu da necessidade de oferecer uma alternativa viável
          para jovens pobres que não podem pagar por um cursinho particular.
        </p>
      </section>


      <!-- SEÇÃO VERDE -->
      <section class="green">
        <h1 class="h1red">ESTRUTURA</h1>

        <div class="espaço">
          <img class="casa" src="../../public/images/logos/store.svg" alt="Um ícone de linha branca mostrando uma pequena loja ou prédio com um toldo, ao lado de um pino de localização (como os de mapas)" />
          <p><b>Espaço:</b> Cedido pelo CDHU/Prefeitura, fator crucial para existência do projeto.</p>
        </div>

        <div class="financiamento">
          <img class="professor" src="../../public/images/logos/professor.svg" alt="Um ícone de linha branca de uma figura de pessoa usando um capelo (chapéu de formatura) sentada atrás de um grande livro aberto." />
          <p><b>Financiamento:</b> Não possui financiamento público ou privado. É sustentado por uma rede de solidariedade.</p>
        </div>

        <div class="voluntarios">
          <img class="maos" src="../../public/images/logos/social.svg" alt="Um ícone de linha branca de duas mãos grandes em concha, como se estivessem segurando ou protegendo três pequenas figuras de pessoas acima delas." />
          <p><b>Voluntários:</b> Ex-alunos retornam para ensinar, criando um ciclo virtuoso.</p>
        </div>
      </section>


      <!-- SEÇÃO VERMELHA -->
      <section class="red">
        <h1 class="h1red">METODOLOGIA</h1>

        <div class="cidadã">
          <img class="peoples" src="../../public/images/logos/people.svg" alt="Um ícone de linha branca mostrando um grupo grande ou uma multidão de figuras de pessoas." />
          <p><b>Formação Cidadã:</b> Aulas vão além do vestibular, com debates sobre política e sociedade.</p>
        </div>

        <div class="autonomia">
          <img class="motivação" src="../../public/images/logos/motivacao.svg" alt="Um ícone de linha branca de um punho cerrado e erguido." />
          <p><b>Autonomia:</b> Formação para que o aluno se torne gestor do próprio conhecimento.</p>
        </div>

        <div class="acolhimento">
          <img class="apoiar" src="../../public/images/logos/apoiar.svg" alt="Um ícone de linha branca de uma figura central com os braços totalmente abertos, em pé na frente de outras quatro figuras menores, em um gesto de boas-vindas ou proteção." />
          <p><b>Acolhimento:</b> Espaço seguro que respeita todas as crenças e identidades.</p>
        </div>
      </section>

    </main>

    <footer></footer>
  </body>
</html>
