<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inscrições</title>
    <link rel="stylesheet" href="../../public/styles/cabecalho_footer.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="stylesheet" href="../../public/styles/global.css">

    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <script src="/public/scripts/includeComponents.js" defer></script>
</head>
<body>
    <header></header>
        <div class="introducao">
            <div class="ps">
                Processo Seletivo
            </div>
            <div class="ccp">
                CCP
            </div>
            <div class="mes">
                Janeiro
            </div>
            <div class="ano">
                2026
            </div>
        </div>

        <div class="modelo-ps">
            <div class="texto-modelo">
                As inscrições são presenciais<br>
            </div>
            <img src="../../public/images/logos/inscricoes-abertas.svg" alt="Ícone alerta" weight="89px" height="89px">
        </div>

        <div class="endereco">
            Local: Rua do Poente 148<br>
            Conjunto Marcos Freire<br>
            Gurarulhos - SP
        </div>

        <div class="taxa-inscricao">
            Necessário Levar apenas 1 dos itens da lista:<br><br>
            <div class="colunas">
                <div class="coluna-um">
                    500G  Café<br>
                    1KG Acúçar<br>
                    1KG Feijão<br>
                    1x Óleo de Cozinha
                </div>
                <div class="coluna-dois">
                    1x Pacote de Macarrão<br>
                    1x Pacote de Sal<br>
                    1x Pacote de Papel Higiénico<br>
                    Qualquer Produto de Limpeza
                </div>
            </div>
        </div>

        <div class="informacoes">
            <div class="texto-informacoes">
                Mais informações através do Whatsapp<br>
            </div>
            <img src="../../public/images/logos/whatsapp.png" alt="Ícone Whatsapp" weight="62px" height="62px">
        </div>
    <script src="../../public/scripts/script.js"></script>
</body>

<footer></footer>
</html>