<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Inscrições</title>

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
      rel="stylesheet"
    />

    <link rel="stylesheet" href="../../public/styles/global.css" />
    <link rel="stylesheet" href="../../public/styles/cabecalho_footer.css" />

    <link rel="stylesheet" href="../../public/styles/processo-seletivo.css" />
    <script src="../../public/scripts/includeComponents.js" defer></script>
  </head>
  <body>
    <header></header>

    <main>
      <section class="introducao">
        <p class="ps">Processo Seletivo</p>
        <p class="ccp">CCP</p>
        <p class="mes">Janeiro</p>
        <p class="ano">2026</p>
      </section>

      <section class="modelo-ps">
        <p class="texto-modelo">As inscrições são presenciais</p>
        <img
          src="../../public/images/logos/inscricoes-abertas.svg"
          alt="Ícone alerta"
          style="width: 5.56rem; height: 5.56rem"
        />
      </section>

      <section class="endereco">
        <p>
          Local: Rua do Poente 148<br />
          Conjunto Marcos Freire<br />
          Gurarulhos - SP
        </p>
      </section>

      <section class="taxa-inscricao">
        <p>Necessário Levar apenas 1 dos itens da lista:</p>
        <br />
        <div class="colunas">
          <ul class="coluna-um">
            <li>1KG de Café</li>
            <li>1KG Açúcar</li>
          </ul>
          <ul class="coluna-dois">
            <li>1x Pacote de Papel Higiênico</li>
            <li>Qualquer Produto de Limpeza</li>
          </ul>
        </div>
      </section>

      <section class="informacoes">
        <p class="texto-informacoes">Mais informações através do Whatsapp</p>
        <a href="https://wa.me/5511995198207">
          <img
            src="../../public/images/logos/whatsapp.png"
            alt="Ícone Whatsapp"
            style="width: 3.88rem; height: 3.88rem"
          />
        </a>
      </section>

      <script src="../../public/scripts/script.js"></script>
    </main>

    <footer></footer>
  </body>
</html>
