<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Projetos e Eventos</title>
    <link rel="stylesheet" href="/public/styles/cabecalho_footer.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <script src="/public/scripts/includeComponents.js" defer></script>
    <link rel="stylesheet" href="/public/styles/projetos-eventos.css">

</head>

<body>

    <header></header>    
    <main>
    <section class="projetos">
        <h1>Nossos Projetos e Eventos</h1>
        
        <div class="projeto-card">
            <div class="projeto-texto azul">
                <h2>HORTA</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam eu velit dolor.</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam eu velit dolor.</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam eu velit dolor.</p>
            </div>
            <div class="projeto-imagem">
                <img src="/src/img/imagem-horta.png" alt="Imagem de uma horta comunitária"> 
            </div>
        </div>

        <div class="projeto-card">
            <div class="projeto-imagem">
                <img src="/src/img/imagem-horta.png" alt="Imagem de uma horta comunitária"> 
            </div>
            <div class="projeto-texto amarelo">
                <h2>PROJETO 2</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam eu velit dolor.</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam eu velit dolor.</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam eu velit dolor.</p>
            </div>
        </div>
    </section>
    </main>

    <script src="/public/scripts/script.js"></script>
    <footer></footer>

</body>

</html>