<footer>
  <div class="footer-logos">
    <div class="footer-coluna">
      <img src="/public/images/logos/Babi.png" alt="Logo-Babi" id="Babi">
      <p id="nome">Associação Bárbara Cristina Sá</p>
    </div>
    <img src="/public/images/logos/logo_ccp.png" alt="Logo-Cursinho" id="ccp">
  </div>

  <div id="footer-links">
    <nav id="nav-footer" class="cabecalho-footer">
      <ul>
        <li><a href="/src/views/">Início</a></li>
        <li><a href="/src/views/historia.html">História</a></li>
        <li><a href="/src/views/apoie-o-projeto.html">Apoie o Projeto</a></li>
        <li><a href="/src/views/projetos-eventos.html">Projetos e Eventos</a></li>
        <li><a href="/src/views/processo-seletivo.html">Processo Seletivo</a></li>
      </ul>
    </nav>
  </div>

  <div class="footer-desktop-content">
    <div class="footer-social">
      <a href="https://www.instagram.com/cursinhocomunitariopimentas/" target="_blank">
        <img src="/public/images/logos/instagram.svg" alt="Instagram">
      </a>
      <a href="https://www.youtube.com/@cursinhopimentas" target="_blank">
        <img src="/public/images/logos/video_12940276.svg" alt="YouTube">
      </a>
      <a href="https://www.facebook.com/cursinhocomunitariopimentascp" target="_blank">
        <img src="/public/images/logos/facebook.svg" alt="Facebook">
      </a>
    </div>
    <div class="footer-info">
      <p id="endereco">Rua do Poente Nº 148 Conjunto Marcos Freire - Guarulhos - SP</p>
      <p id="cnpj">CNPJ: 08.033.435/001-44</p>
    </div>
  </div>
</footer>