:root {
  --cor-primaria: #990100;    
  --cor-secundaria: #0056b3;
  --cor-destaque: #ffd901;
  --cor-fundo: #f0f0f0;    
  --cor-texto: #333333;      
  --cor-branca: #ffffff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif; 
}


html {
  height: 100%;
  overflow-x: hidden;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh; 
  background-color: var(--cor-fundo); 
}

main {
  flex: 1;
}

h1 {
  font-size: 2.5rem;  
  font-weight: 800;
  margin-bottom: 1.5rem;
  text-align: center;
}

h2 {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 1.25rem;
  text-align: center;
}

h3 {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 1rem;
}

p {
  font-size: 1rem;
  line-height: 1.6; 
  margin-bottom: 1rem;
}
