* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  height: 100vh;
  overflow-x: hidden;
}

/*hero section*/
#hero-section {
  background-image: url("/public/images/banners/fundo.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 3.5rem 1.1rem 3rem 1.1rem;
}

h1 {
  color: #fff;
  text-transform: uppercase;
  font-size: 2.5rem;
  font-weight: 800;
}

h2 {
  font-size: 2rem;
  text-align: center;
  margin-bottom: 1.8rem;
}

#hero-section p {
  color: #fff;
  font-size: 0.7rem;
  font-style: normal;
  font-weight: 600;
  line-height: 1.2rem;
}

#hero-section a {
  display: flex;

  color: black;

  border-radius: 0.354rem;

  background: #ffd901;

  height: 2.241rem;
  width: 12.5rem;

  align-items: center;
  justify-content: center;

  font-style: italic;
  font-weight: 500;
  position: relative;

  margin-top: 2rem;
}

/*about-section*/
#about-section {
  background-image: url("/public/images/banners/fundo-about-section.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #e8e8e8;
  padding: 2rem 1.1rem 3rem 1.1rem;
}

#about-section h2 {
  color: #000;
  text-transform: uppercase;
  font-weight: 800;
}

#cards {
  grid-template-columns: repeat(2, 1fr);
  gap: 1.5rem;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1rem;
  display: grid;
  justify-items: center;
  width: fit-content;
  height: fit-content;
}

.card {
  border: solid 1px #343434;
  display: grid;
  background-color: #fff;
  text-align: left;
  width: 9.871rem;
  height: 6.11rem;
}

.card-header {
  border-bottom: solid 1px #343434;
  font-weight: 400;
  display: flex;
  align-items: start;
  justify-content: left;
  font-size: 0.7rem;
  padding: 0.2rem 1rem;
}

.card-description {
  font-size: 0.571rem;
  padding: 0.3rem 1rem 0.5rem 1rem;
}

#cards .card:nth-child(1) .card-header {
  background-color: #83eb52;
}

#cards .card:nth-child(2) .card-header {
  background-color: #6fa9ff;
}

#cards .card:nth-child(3) .card-header {
  background-color: #ffd901;
}

#cards .card:nth-child(4) .card-header {
  background-color: #d95353;
}

#student-section {
  background-image: url("/public/images/banners/fundo-student-section.png");
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: contain;
  padding: 2rem 1.1rem 3rem 1.1rem;
  background-color: #fffeaa;
}

#student-section ul {
  margin: 1rem auto 0 auto;
  background-color: #fff;
  border: solid 2px #000;
  border-radius: 1rem;
  padding: 1.5rem 2rem;
  width: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

#student-section ul li {
  list-style: none;
  display: flex;
  align-items: flex-start;
  gap: 0.5rem;
  width: 100%;
  max-width: 18rem;
  text-align: left;
}

.text-block {
  display: flex;
  flex-direction: column;
  width: 100%;
}

#student-section img {
  flex-shrink: 0;
  margin-top: 0.1rem;
}
#student-section h2 {
  color: #990100;
  font-style: italic;
  font-weight: 700;
}

#student-section p {
  color: #000;
  text-align: center;
}

.information-title {
  font-weight: bold;
  font-size: 0.7rem;
  text-align: left;
}

.information-description {
  font-size: 0.6rem;
  text-align: left;
}

.information-title,
.information-description {
  display: inline-block;
  width: 100%;
  max-width: 18rem;
  white-space: normal;
}

#student-section a {
  width: 14.125rem;
  height: 2.369rem;
  background-color: #198754;
  padding: 0.873rem 0.436rem;
  border-radius: 8px;
  font-size: 0.65rem;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1rem;
}

/* como funciona */
#secao-como-funciona {
  padding: 2rem 1.1rem 2rem 1.1rem;
  text-align: center;
}


.cards-container {
  display: flex;

  flex-wrap: nowrap;

  overflow-x: auto;
  overflow-y: hidden;

  justify-content: flex-start;

  scroll-snap-type: x mandatory;
  -webkit-overflow-scrolling: touch;

  margin-left: 0;
  margin-right: 0;
  width: 100%;

  padding: 0 1.5rem 1rem 1.5rem;
  gap: 1rem;
}
.meu-card {
  flex-shrink: 0;
  width: 90%;
  max-width: 15rem;
  height: auto;

  scroll-snap-align: start;

  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
  display: flex;
  flex-direction: column;
  overflow: hidden;
  flex-shrink: 0;
}
.card-imagem-topo {
  width: 100%;
  height: auto;
  border-top-left-radius: calc(0.25rem - 1px);
  border-top-right-radius: calc(0.25rem - 1px);
}

.card-conteudo-principal,
.card-conteudo-links {
  padding: 0.75rem;
}

.card-titulo {
  margin-top: 0;
  margin-bottom: 0.5rem;
  font-size: 1rem;
}

.card-texto {
  margin-bottom: 0;
  font-size: 0.8rem;
  color: #495057;
}

.card-lista-flush {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;

  border-top: 1px solid rgba(0, 0, 0, 0.125);
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}

.card-lista-item {
  position: relative;
  display: block;
  padding: 0.4rem 0.75rem;
  font-size: 0.75rem;
  color: #212529;
  background-color: #fff;

  border-bottom: none;
}

.card-lista-item:not(:last-child) {
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}

.card-link {
  text-decoration: none;
  margin-right: 1rem;
  color: #0d6efd;
  margin-right: 0.75rem;
  font-size: 0.75rem;
}

.card-link:hover {
  text-decoration: underline;
}

.meu-card .card-conteudo-links {
  border-top: 1px solid rgba(0, 0, 0, 0.125);
}

/*secao nossa equipe*/

#secao-equipe {
  background-color: #0d6efd;
  color: #fff;
  padding: 2rem 1.5rem 1rem 1.5rem;
}

#secao-equipe h2 {
  text-transform: uppercase;
}
#secao-equipe p {
  display: flex;
  font-size: 0.8rem;
  text-align: center;
  margin-bottom: 0.6rem;
}

#secao-equipe img {
  width: 300px;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
}

/*seção alunos pelo brasil*/
#secao-alunos-brasil {
  padding: 2rem 1.5rem 1rem 1.5rem;
}

#secao-alunos-brasil img {
  width: 350px;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
}

#secao-localizacao {
  padding: 2rem 1.5rem 1rem 1.5rem;
  background-color: #ffd901;
}

#secao-localizacao h2{
  font-style: italic;
  font-weight: 400;
}

#secao-localizacao p{
  margin: 1rem 0 1rem 0;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

#secao-localização iframe{
  cursor: pointer;
}

#map {
  height: 450px;
}
#endereco {
  display: block;
  margin: 0 auto;         
  width: 100%;           
  max-width: 1000px;        
  height: 350px;           
  border: 2px solid #000; 
  border-radius: 8px;     
}

@media (min-width: 1024px) {
  #hero-section h1 {
    font-size: 4.2rem;
  }

  #hero-section p {
    font-size: 1.1rem;
    max-width: 65ch;
  }

  #about-section h2 {
    font-size: 3.2rem;
  }

  #cards {
    grid-template-columns: repeat(4, 1fr);
    gap: 1.5rem;
    margin-left: auto;
    margin-right: auto;
  }

  .card {
    width: 15rem;
  }

  .card-title {
    font-size: 1.1rem;
  }

  .card-description {
    font-size: 0.9rem;
  }
}
