section.introducao {
  text-align: center;
}

.introducao .ps {
  color: var(--cor-texto);
  font-size: 36px;
}

.introducao .mes {
  color: var(--cor-texto);
  font-size: 50px;
}

.introducao .ccp {
  color: var(--cor-primaria);
  font-size: 50px;
}

.introducao .ano {
  color: var(--cor-primaria);
  font-size: 50px;
}

/* A <section> da faixa vermelha "presencial" */
section.modelo-ps {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--cor-primaria);
  padding: 16px;
  gap: 40px;
}

.modelo-ps .texto-modelo {
  font-size: 32px;
  color: var(--cor-branca);
}

section.endereco {
  color: var(--cor-texto);
  font-size: 24px;
  padding: 16px;
  text-align: center;
}

section.taxa-inscricao {
  color: var(--cor-branca);
  font-size: 16px;
  padding: 16px;
  text-align: center;
  background-color: var(--cor-primaria);
}

.taxa-inscricao .colunas {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 40px;
  margin-top: 1rem;
}

/* Estilizando as novas listas <ul> */
.taxa-inscricao ul {
  list-style: none;
  text-align: left;
}

.taxa-inscricao li {
  margin-bottom: 0.5rem;
}

section.informacoes {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 16px;
}

.informacoes .texto-informacoes {
  color: var(--cor-primaria);
  font-size: 24px;
  padding-bottom: 30px;
}
